@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: ;
  }
}

@layer utilities {
  .shadow-outer-lg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px; /* The height of the shadow you want */
    box-shadow: 0 10px 50px 60px rgba(255, 255, 255, 0.6);
    pointer-events: none; /* This makes sure the shadow element doesn't interfere with interactions */
  }

  .card-shadow {
    box-shadow: 0 33px 61px -29px hsla(255, 50%, 50%, 0.26);
  }

  .card-shadow:hover {
    box-shadow: 0 33px 61px -29px hsla(255, 50%, 50%, 0.5);
  }

  .icon-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .hide-scroll::-webkit-inner-spin-button,
  .hide-scroll::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }

  .button-shadow {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
  }
  .button-shadow:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  .button-shadow:active {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    /* margin-top: 1px; */
    transform: translateY(2%);
  }

}